html, body{
    background-image: url(../img/company/bg.png);
    height: 100%;
    font-family: 'Montserrat', sans-serif !important;
    color: #070607;
}

.container{
    height: 100%;
    align-content: center;
}

.card{
    height: auto;
    margin-top: auto;
    margin-bottom: auto;
    width: 40%;
    background-color: #ffcd07af !important;
}

.input-group-prepend span{
    width: 50px;
    background-color: #fffff5b0;
    color: #ED1C24;
    border: 0 !important;
}

.login-info{
    margin: 5px 0 20px 0 !important;
}

.remember{
    color: #070607;
    margin-bottom: 10px;
}

.remember input{
    width: 15px;
    height: 15px;
    margin-left: 20px;
    margin-right: 10px;
}

.login-btn{
    color: #FFFFF5 !important;
    background-color: #ED1C24 !important;
    font-weight: bold !important;
    width: 100px;
}

.login-btn:hover{
    color: #070607 !important;
    background-color: #FCD9DA !important;
}

.links{
    color: #070607;
}

.links a{
    margin-left: 4px;
    color: #ED1C24;
}

.links a:hover{
    color: #070607;
}

@media only screen and (max-width: 900px) {
    .card{
        width: 90% !important;
    }
}