body {
  font-family: "Montserrat";
  background-image: url("../img/bg.jpeg");
  background-size: contain;
}

/* ARRUMAR NOME DA CLASSE*/

.card-deck {
  margin-top: 30px;
}

.card {
  padding: 20px;
  border-radius: 30px;
  background-color: white;
  border: none;
}

.card img {
  width: 250px;
  height: 200px;
  border-radius: 30px;
}
.card .card-img-container {
  text-align: center;
}
.card .card-text {
  height: 60%;
}

.card .card-body .card-title {
  font-weight: bold;
}

.card .card-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card .card-info .card-price {
  font-weight: bold;
}

.card .card-body .btn {
  background-color: #ffce07;
  color: black;
}

.card .card-body .btn:hover {
  background-color: #cea606;
  border: 1px solid black;
}

/* Products Details */
.products-wrapper {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.product-details {
  background-color: #fefff5;
  border-radius: 25px;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.product-details img {
  width: 400px;
  border-radius: 25px;
}

.product-details .product-body {
  width: 500px;
  margin-left: 80px;
}

.product-details .product-body h1 {
  font-weight: bold;
  font-size: 50px;
}

.product-details .product-body p {
  font-size: 24px;
}

.product-details .product-body .product-price {
  font-size: 16px;
  font-weight: bold;
  background-color: #ffce07;
  border-radius: 35px;
  padding: 15px;
}

@media (max-width: 768px) {
  .product-details {
    flex-direction: column;
    padding: 100px;
  }
}
