.contatofront {
    background-image: url("../img/background.png");
    font-family: 'Bentham', serif;
    padding-bottom: 4%;
}
.contatofront h1{
    text-align: center;
    padding-bottom: 5%;
}
.contatoImage {
    display: flex;
    justify-content: center;
    padding-bottom: 0px;
}
.contatoImage img{
    width: 20%;
    background-color: #FEFFF5;
    border-radius: 100%;
}


.form-contato{
    background-color: #2b2b2b;
    width: 0%;
    align-content: center;
}

.mapaContato{
  
    padding-top: 5%;
    padding-bottom: 5%;
   width: 90%;
}
.botaoContato{
    background-color: #FFCE07;
    color: #070607;
    
}
.boxContact{
    padding-bottom: 5%;
    
}
.borda-contato{
    border: 1px solid #FEFFF5;
    border-radius: 30px;
    background-color: #FEFFF5;
    box-shadow: 5px 5px 3px #888888;
}

.phone{
    float: left;
}

.text-form{
    font-size: 20px;
}
.contactLinks a {
    color: #070607 !important;
}
.contactLinks a {
    text-decoration: none !important;
}
.contactLinks a:hover{
    text-decoration: none;
}

