
  
.contatofront {
    background-image: url(../img/70.png);
    font-family: 'Bentham', serif;
    padding-bottom: 4%;
}
.contatofront h1{
    text-align: center;
    padding-bottom: 5%;
    font-family: myFirstFont;

}
.contatoImage {
    display: flex;
    justify-content: center;
    padding-bottom: 0px;
}
.contatoImage img{
    width: 15%;
    background-color: #FEFFF5;
}


.mapaContato{
  
    padding-top: 5%;
    padding-bottom: 5%;
    
}
.botaoContato{
    background-color: #FFCE07;
    color: #070607;
    font-family: 'Montserrat', sans-serif;
    
}
.boxContact{
    padding-bottom: 5%;
    
}
.borda-contato{
    border: 1px solid #FCD9DA;
    border-radius: 30px;
    background-color: #FCD9DA;
    
}



.text-form{
    font-size: 20px;
}


.borda-contato label input{
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
}

.borda-contato h2{
    text-align: center;
    font-family: myFirstFont;
}
.contact-info h2{
    text-align: center;
    font-family: myFirstFont;
}
@font-face {
    font-family: myFirstFont;
    src: url(adam_Script.otf);
  }

@media (max-width:768px){
    .mapaContato{
        width: auto;
        display: flex;
        justify-content: center;
    }
}
/* Sticky footer styles
-------------------------------------------------- */



.footer {
    color: #070607;
    margin-bottom: 0;
    width: 100%;
    height: auto; /* Set the fixed height of the footer here */
    line-height: 50px; /* Vertically center the text there */
    background-color: #fcd9da;
    text-align: center;
    
 }

.footer h6{
    margin-top: 30px;
    font-size: 30px;
    margin-bottom: 10px;
    font-family: 'Bentham', serif;
}

.footer ul{
    list-style: none;
}

.footer li{
    line-height: 18px;
    margin-left: -40px;
    margin-top: 5px;
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
}

.footer a{
    color: #070607;
}
.footer a:hover {
    color: #ed1c24;
    text-decoration: none;
} 

.footer-img img{
    width: 175px;
    height: 175px;
}
  /* Custom page CSS
  -------------------------------------------------- */
  /* Not required for template or sticky footer method. */
  

.copyright {
    display: block;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
}

.copyright span {
    color: #ed1c24;
}

.copyright p {
    margin: 8px;
    line-height: 15px;
}
.container-header{
    background-color: #fcd9da;
    width: 100%;
}

/* Arrumar as margins direto pelo html
    Ver se o nav ta colocar em cima quando der scroll na pagina
*/


.container-header img{
    width: 75px;
}

.container-header ul li{
    font-family: 'Montserrat';
    font-size: 18px;
    margin-right: 24px
}

.container-header ul li a{
    color: #070607 ;
}

.container-header ul li.active{
    font-weight: bold;
    border-bottom: 2px solid #070607;
}

@media(max-width: 1000px){
    .container-header img{
        width: 64px;
    }
}