html,
body {
  background-size: 100%;
  background-image: url(../img/company/bg.png);
  height: 90%;
  font-family: "Montserrat", sans-serif !important;
  color: #808080;
}

/* ===================================================
                        NAVBAR:
======================================================*/

.container-header {
  background-color: #fcd9da;
  width: 100%;
  height: 8%;
}

.container-header img {
  width: 60px;
}

.container-header ul li {
  font-family: "Montserrat";
  font-size: 18px;
  margin-right: 24px;
}

.container-header ul li a {
  color: #070607;
}

.container-header ul li.active {
  font-weight: bold;
  border-bottom: 2px solid #070607;
}

.nav-icons {
  font-size: x-large;
}

.nav-icons a:hover {
  color: #fcd9da;
}

/* ===================================================
                        FOOTER:
======================================================*/

.footer-annasun {
  color: #070607;
  position: absolute;
  width: 100% !important;
  height: auto; /* Set the fixed height of the footer here */
  line-height: 50px; /* Vertically center the text there */
  background-color: #fcd9da !important;
  text-align: center;
}

.footer-annasun img {
  width: 150px;
  margin-top: 10%;
}

.footer-annasun h6 {
  margin-top: 30px;
  font-size: 30px;
  margin-bottom: 10px;
  font-family: "Bentham", serif;
}

.footer-annasun ul {
  list-style: none;
  line-height: 22px;
  margin-left: -40px;
  margin-top: 5px;
  display: block;
  font-size: 15px;
  font-family: "Montserrat", sans-serif;
}

.footer-annasun a {
  color: #070607 !important;
  padding-left: 5px;
  padding-right: 5px;
}

.footer-annasun a:hover {
  color: #ed1c24 !important;
  text-decoration: none;
}

.copyright {
  display: block;
  width: auto;
  max-width: 680px;
  font-family: "Montserrat", sans-serif;
  font-size: 13px;
  margin-top: -15px;
}

.copyright span {
  color: #ed1c24;
}

.copyright p {
  margin: 8px;
  line-height: 15px;
}

/* ===================================================
                    NAVBAR ADMINISTRATIVA:
======================================================*/

.nav-bg {
  background-color: #ed1c23f1 !important;
  height: 60px !important;
}
.brand-style img {
  width: 50px;
}
.brand-styling {
  font-family: "Bentham" !important;
  font-size: large;
}

.menu-styling {
  font-family: "Montserrat", sans-serif;
  font-size: medium;
}

.menu-styling i {
  padding: 0 3px 0 15px !important;
}

<<<<<<< HEAD
.homeadm-logout{
=======
.homeadm-logout {
  float: right !important;
>>>>>>> master
  position: absolute;
  float: right !important;
  right: 15px;
}
/* ===================================================
                    VIEW ADMINISTRATTIVA DE PRODUTOS:
====================================================== */

/* ===================================================
                        QUEM SOMOS:
======================================================*/
.logo {
  margin-top: -2%;
}
.texto-a {
  margin: 6%;
  font-size: 120%;
  line-height: 200%;
}
.image-a img {
  width: 120% !important;
  margin-top: 32%;
}
.cards-a {
  margin-top: 0%;
  padding-bottom: 2%;
}
.cards-a p {
  font-family: "Montserrat";
  background-color: #fdeced;
}
.cards-a h5 {
  text-align: center;
  font-family: "Bentham";
  color: #070607;
  font-size: 200%;
  background-color: #fdeced;
}
.mvv {
  display: inline-block;
  border: #fcd9d4 double 6px;
  background-color: #fdeced;
}

.principal {
  background-color: #fefff5 !important;
  min-height: 100%;
}

.quem_somos {
  margin-top: 4%;
  margin-bottom: 1.4%;
}
/* ===================================================
                        PRODUTOS:
======================================================*/

.card-deck-products {
  background-color: #fefff5;
  margin-top: 30px;
}

.card-product {
  padding: 20px;
  border-radius: 30px;
  background-color: white;
  border: none;
}

.card-product:hover {
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
  transition: 0.1s;
  cursor: pointer;
}

.card-product img {
  width: 250px;
  height: 200px;
  border-radius: 30px;
}
.card .card-img-container {
  text-align: center;
}

.card-product .card-text {
  height: 60%;
}

.card-product .card-body .card-title {
  font-weight: bold;
}

.card-product .card-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card-product .card-info .card-price {
  font-weight: bold;
}

.card-product .card-body .btn {
  background-color: #ffce07;
  color: black;
}

.card-product .card-body .btn:hover {
  background-color: #cea606;
  border: 1px solid black;
}

.btn_select {
  margin-top: 7px;
  margin-left: 2px;
  background-color: #ffce07;
  color: black;
}

.btn_select:hover {
  background-color: #cea606;
  border: 1px solid black;
}

.form-control-prod {
  max-width: 200px;
  margin-left: 10px;
  display: inline-block !important;
}

.form-right {
  text-align: right !important;
  display: inline-block !important;
}

.botaocentro {
  margin-bottom: 10px;
}

/* ===================================================
                    DETALHES DE PRODUTOS:
======================================================*/

.products-wrapper {
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.product-details {
  background-color: #fefff5;
  border-radius: 25px;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.product-details img {
  width: 400px;
  border-radius: 25px;
}

.product-details .product-body {
  width: 500px;
  margin-left: 80px;
}

.product-details .product-body h1 {
  font-weight: bold;
  font-size: 50px;
}

.product-details .product-body p {
  font-size: 24px;
}

.product-details .product-body .product-price {
  font-size: 16px;
  font-weight: bold;
  background-color: #ffce07;
  border-radius: 35px;
  padding: 15px;
}

.product-details .product-body .product-body-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.product-details .product-body .product-body-container .product-estoque {
  margin-top: 8px;
}

.cards-a p {
  font-family: "Montserrat";
  background-color: #fdeced;
}

/* =====================================================
                        HOME:
========================================================
*/

/* Standard + Body: */

* {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}

.space {
  margin: 100px auto 100px auto;
}

/* Carousel: */

.carousel {
  max-width: 70%;
  margin: auto;
}

.icone-carousel {
  color: #ed1c24;
  font-size: 2rem;
}

div#carouselText {
  background-color: #ed1c24;
  opacity: 85%;
  border-radius: 5px;
  font-family: "Montserrat";
  color: #fffff5;
  font-weight: bold;
  box-shadow: 2px 2px 7px black;
  text-shadow: #070607 2px 1px 4px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

/* Main: */

hr {
  background-color: #fcd9da;
  margin: 50px 0 30px 0;
}

a#noStyle {
  text-decoration: none;
  color: #070607;
}

/* About Us: */

.info {
  background-color: #ffce07;
  border-radius: 8px;
  opacity: 90%;
  height: 70%;
  margin: 25px 0 30px 0;
  padding: 10px 20px 10px 20px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}

.info img {
  display: block;
  max-width: 50%;
  height: auto;
}

.info-inside h4 {
  text-align: center;
  font-family: "Bentham";
  color: #fffff5;
  text-shadow: #070607 2px 1px 4px;
  font-size: xx-large;
}

.info-inside p {
  text-align: justify;
  font-size: medium;
  font-weight: 500;
}

.info-inside a {
  color: #fffff5;
  background-color: #ed1c24;
  box-shadow: 2px 2px 7px #070607;
  font-size: x-large;
  font-weight: bold;
}

.info-inside a:hover {
  background-color: #fcd9da;
  color: #070607;
}

/* Product Page: */

.productPage h1 {
  padding: 10px 0 20px 0;
  font-family: "Bentham";
}

.product {
  margin: 30px 15px 20px 15px !important;
}

.product:hover {
  background-color: #fcd9da !important;
}

/* Contact Page: */

.contactPage {
  background-image: url(../img/company/bgpirulito.png);
  width: 100%;
  height: 200px;
  display: grid;
  text-align: center;
  align-items: center;
  margin: 40px 0 40px 0;
  outline: #ffce07 double 5px;
}

.contactPage h4 {
  color: #070607;
  font-weight: 600;
  padding-bottom: 10px;
}

.contactPage a {
  color: #fffff5;
  background-color: #ed1c24;
  box-shadow: 2px 2px 7px #070607;
  font-size: large;
  font-weight: 550;
}

.contact a:hover {
  background-color: #fcd9da;
  color: #070607;
}

/*====================================================
                        CONTATO:
====================================================*/

.contatofront {
  font-family: "Bentham", serif;
}
.contatofront h1 {
  height: auto;
  text-align: center;
  font-family: myFirstFont;
}
.contatoImage {
  display: flex;
  justify-content: center;
}
.contatoImage img {
  width: 15%;
  background-color: #fefff5;
}

.mapaContato {
  padding-top: 5%;
  padding-bottom: 5%;
}

.botaoContato {
  background-color: #ffce07;
  color: #070607;
  font-family: "Montserrat", sans-serif;
}

.boxContact {
  padding-bottom: 5%;
}

.borda-contato {
  border: 1px solid #fcd9da;
  border-radius: 30px;
  background-color: #fcd9da;
}

.text-form {
  font-size: 20px;
}

.borda-contato label input {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
}

.borda-contato h2 {
  text-align: center;
  font-family: myFirstFont;
}
.contact-info h2 {
  text-align: center;
  font-family: myFirstFont;
}

/*====================================================
        VIEW_CATEGORIAS / CRIAR CATEGORIAS / EDITAR CATEGORIAS:
====================================================*/

.categoria-result-container {
  margin-top: 80px;
}
.cardCategorias {
  text-align: right;
}

.category_buttons_ed {
  display: inline !important;
}

.btn-inline {
  display: inline-block !important;
}

/*====================================================
                        ADM PRODUTOS:
====================================================*/

@font-face {
  font-family: myFirstFont;
  src: url(adam_Script.otf);
}

.btn-addProduct {
  background-color: #ffce07;
  color: #070607;
  font-family: "Montserrat", sans-serif;
  display: flex;
  justify-content: center;
}

.buttonSubmit {
  display: flex;
  justify-content: center;
}

.formBorder {
  background-color: #fefff5;
}

.foto-view img {
  width: 15%;
}

.buttonCreate {
  display: flex;
  justify-content: center;
}

.buttonCreate button {
  color: #070607;
  background-color: #ffce07;
}

.buttonAdminProd {
  text-align: right !important;
  display: inline-block;
}

.buttonAdminProd button {
  margin: 0 !important;
}

/*===================================================
                        LOGIN:
======================================================*/
.login-container {
  padding: 200px;
  align-items: center;
}

.card-login {
  height: auto;
  margin-top: auto;
  margin-bottom: auto;
  width: 40%;
  background-color: #ffcd07af !important;
}

.ic-login span {
  width: 100% !important;
  background-color: #fffff5b0;
  color: #ed1c24;
  border: 0 !important;
}

.ic-login i {
  font-size: larger;
}

.login-info {
  margin: 5px 0 20px 0 !important;
}

.login-btn {
  color: #fffff5 !important;
  background-color: #ed1c24 !important;
  font-weight: bold !important;
  width: 100px;
}

.login-btn:hover {
  color: #070607 !important;
  background-color: #fcd9da !important;
}

.links {
  color: #070607;
}

.links a {
  margin-left: 4px;
  color: #ed1c24;
}

.links a:hover {
  color: #070607;
}

.nav-icons i:hover {
  color: #fcd9da;
}

/*====================================================
                        VIEW ADMINISTRATIVA USUARIOS
====================================================*/

.formUser {
  display: flex;
  justify-content: space-around;
  line-height: 520%;
  padding-top: 5%;
}

.formUser i {
  font-size: 25px;
}

.formUser button {
  background-color: #fefff5;
}

.principal_adm {
  background-color: #fefff5;
  color: #070607;
  font-family: "Bentham";
}

.principal_adm div,
th,
td {
  background-color: #fefff5;
}

.topicos th {
  background-color: #fefff5 !important;
  font-size: 120%;
  color: #070607;
}

.perfil-pic {
  width: 120px;
  height: 120px;
}

.adicionar a {
  background-color: #ffce07;
  border-color: #ffce07;
  color: #fefff5;
  font-size: 110%;
  font-family: "Montserrat";
}

.adicionar a:hover {
  background-color: #f3ae2e;
  border-color: #f3ae2e;
  background-color: #fdeced;
}

.adicionar {
  padding-bottom: 1%;
}

.dados {
  font-family: "Montserrat";
  font-size: 130%;
  line-height: 520%;
}

.dados-txt {
  font-size: 130%;
  padding-top: 5%;
  vertical-align: middle !important;
}

.dados-center {
  line-height: 520%;
}

.botao_excluir {
  color: #ed1c24;
}

.botao_editar {
  color: green;
}

.botao_modal_confirma {
  background-color: #ed1c24 !important;
  border-color: #ed1c24;
}

.botao_modal_confirma:hover {
  background-color: #c2030a;
  border-color: #c2030a;
}

.botao_modal_confirma:focus,
.botao_modal_confirma:active,
.botao_modal_cancelar:focus,
.botao_modal_cancelar:active,
.adicionar a:focus,
.adicionar a:active {
  outline: none !important;
  box-shadow: none !important;
}

.imagem_modal {
  text-align: center;
  margin-bottom: 2%;
}

.imagem_modal img {
  width: 40%;
  height: 40%;
}

.dados_visualizar td {
  font-size: 100%;
  line-height: 500%;
}

/*====================================================
                        ADD USERS & EDIT USERS:
====================================================*/

.edit_user_adm {
  background-image: url("../img/company/bgadm.png");
  color: #070607;
  font-family: "Bentham";
  background-color: #fefff5;
}

.users_div1 {
  padding-top: 2%;
}

.users_adm,
.form_edit {
  background-color: #fefff5;
}

.button_users {
  background-color: #ffce07;
  border-color: #ffce07 solid 6px;
  margin-left: 10px;
  color: #070607 !important;
}

.button_users:hover {
  background-color: #f3ae2e;
  border-color: #f3ae2e solid 6px;
}

.button_users:focus,
.button_users:active,
.digita_adm:focus,
.digita_adm:active {
  outline: none !important;
  box-shadow: none;
}

/* ===================================================
                        MEDIA QUERY:
======================================================*/

@media only screen and (max-width: 900px) {
  /* NOME DA PÁGINA: */

  .card {
    width: 90% !important;
  }

  /* NOME DA PÁGINA: */
  .container-header {
    height: auto;
  }
  .container-header img {
    width: 64px;
  }

  .product-wrapper {
    height: 100vh;
    width: 100vw;
  }

  .product-details {
    display: flex;
    flex-direction: column;
    width: 90%;
  }

  .product-details img {
    width: 70vw;
    max-width: 400px;
  }

  .product-details .image-container {
    text-align: center;
    margin-bottom: 50px;
  }

  .product-details .product-body {
    width: 95%;
    margin: 0;
  }

  .product-details .product-body h1 {
    font-weight: bold;
    font-size: 35px;
  }

  .product-details .product-body p {
    font-size: 20px;
  }

  /*  HOME: */

  .container-header img {
    width: 64px;
  }

  .carousel {
    max-width: 100%;
    margin: auto;
  }

  .info {
    height: 40%;
  }

  .info img {
    max-width: 30%;
  }

  .info-inside h4 {
    font-size: 1.5rem;
  }

  .info-inside p {
    font-size: 0.9rem;
  }

  .info-inside a {
    font-size: medium;
  }

  .logo {
    justify-content: center;
    display: block;
  }

  .dados td {
    font-size: 100%;
    line-height: 1;
  }

  .perfil-pic {
    width: 50px;
    height: 50px;
  }

  .myrow_adm {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  /* NOME DA PÁGINA: */

  /* NOME DA PÁGINA: */

  .container-header img {
    width: 64px;
  }

  .logo {
    justify-content: center;
    display: block;
  }
  .image-a {
    width: 68%;
    margin-top: 6%;
    margin-left: 8%;
  }
  .texto-a {
    margin-left: 16%;
  }
  .cards-a {
    margin-top: 5%;
  }

}

@media (max-width: 768px) {
  /* NOME DA PÁGINA: */

  .mapaContato {
    width: auto;
    display: flex;
    justify-content: center;
  }

  /* NOME DA PÁGINA: */

  .cardAdminProd {
    width: 85% !important ;
    display: block;
    justify-content: center;
    margin-left: 7%;
  }
<<<<<<< HEAD

  .homeadm-logout{
    float: right !important;
    right: 15px;
  }
=======
>>>>>>> master
}

@media (max-width: 425px) {
  .alinhamento01 {
    display: block !important;
    text-align: center !important;
  }

  .form-control {
    max-width: 200px;
    margin-left: 10px;
    margin-bottom: 5px;
  }

  .alinhamento02 {
    text-align: center !important;
  }

  .homeadm-logout{
    float: right !important;
    right: 15px;
  }
}
